*{
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #003cb3;
    --secondary-color: #0044cc;
    --third-color: #1a5de2;
    --fourth-color: #3875ee;
    --title-color: #ff6600;
    --border-color: #600080;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#home{
    width: 100%;
    background-image: url('../pictures/city_background.jpg');
    background-position: center;
    height: auto;
}

/* header h1{
    width: 25%;
    color: white;
    padding: 2.5vh 3vw;
    font-size: 5vh;
    opacity: 1;
} */

nav{
    width: 100%;
    margin: auto;
    height: auto;
}

nav ul{
    width: 100%;
    margin: auto;
    background-color: rgb(0, 51, 153, .5);
}

#nav-area{
    width: 39%;
    margin: auto;
}

nav ul li{
    text-decoration: none;
    display: inline-flex;
    font-size: 140%;
    padding: 3vh 1vw;
}

nav ul li a{
    text-decoration: none;
    color: var(--title-color);
}

nav ul li:hover{
    background-color: rgba(28, 90, 214, 0.5);
}

.about_me{
    padding: 31vh 0;
    width: 100%;
    color: white;
}

.about_me h2 {
    text-align: center;
    font-size: 200%;
    padding: 0 35vw 0 0;
    width: 60%;
}

.about_me p{
    text-align: center;
    font-size: 170%;
    padding: 0 0 0 5vw;
    width: 40%;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 1vh;
}

.work{
    padding: 2vh 1vw;
    background-color: var(--main-color);
}

.heads {
    width: 70%;
    text-align: center;
    margin: auto;
    margin-bottom: 2vh;
    padding: 0 2vw 2vh 2vw;
    font-size: 170%;
    color: var(--title-color);
    border-bottom: 5px var(--title-color) solid;
}

.work section{
    width: 80%;
    margin: auto;
    height: 30vh;
    margin-bottom: 1vh;
    overflow: hidden;
    border: 5px var(--border-color) solid;
    /* background-image: url("../pictures/temp_background.jpg"); */
    background-size: 100%;
}

#project1{
    background-image: url("../pictures/weatherDashboard.png");
}

#project2{
    background-image: url("../pictures/codeQuiz.png");
}

#project3{
    background-image: url("../pictures/SaveAShot.png");
}
/* Need to work on parts here text doesn't appear normally when hovering over image */
.work img{
    width: 100%;
    z-index: 0;
}

.work section p{
    position: relative;
    font-size: 200%;
    text-align: center;
    top: 50%;
    transform: translate(0, 50%);
    color: var(--title-color);
    display: none;
}

.work section:hover{
    opacity: .7;
}

.work section:hover p{
    display: block;
}

.contact{
    width: 100%;
    padding: 2vh 0;
    background-color: var(--secondary-color);
}

.contact section{
    width: 25%;
    margin: auto;
    padding: 10vh 10vw;
    border: 5px var(--border-color) solid;
    background-color: white;
}

.contact section h2{
    margin: 1vh 1vw;
    font-size: 160%;
}

.contact section p{
    margin: 2vh 1vw;
    padding: 0 2vw;
    font-size: 110%;
}

.resume{
    width: 100%;
    padding: 2vh 0;
    background-color: var(--main-color);
}

.resume article{
    width: 60%;
    margin: auto;
    border: 5px var(--border-color) solid;
}

.resume img{
    width: 100%;
    height: 100%;
}

/* starting here is css for project pages */
#project-head{
    text-align: center;
    background-color: var(--main-color);
    font-size: 125%;
    padding: 5vh 0;
}

#project-body{
    margin: 0;
    background-color: var(--secondary-color);
}

#description-area{
    width: 60%;
    margin: auto;
    background-color: var(--third-color);
    padding: 10vh 10vw;
    font-size: 125%;
}

#images-area{
    width: 80.2%;
    margin: auto;
    padding: 3vh 0;
    background-color: var(--fourth-color);
    display: flex;
    justify-content: center;
}

#images-area img{
    width: 70%;
    border: var(--main-color) .5rem solid;
    box-shadow: 1px 2px 10px 6px;
}

#code-area{
    width: 60%;
    margin: auto;
    background-color: var(--third-color);
    padding: 5vh 10vw;
    display: flex;
    justify-content: center;
}

#code-box{
    width: 60%;
    background-color: white;
    border: grey .3rem inset;
    padding: 3vh 3vw;
}

/* starting here is for footer section */
footer {
    width: 100%;
    text-align: center;
    padding: 5vh 0;
    color: white;
    background-color: black;
}

@media screen and (max-width: 900px){
    header h1{
        font-size: 170%;
    }
    nav ul li a{
        font-size: 90%;
    }
    .about_me{
        padding: 30vh 0;
        height: 10vh;
    }
    .about_me h2{
        font-size: 170%;
        padding: 0 30vw 0 0;
        margin-bottom: 1vh;
    }
    .about_me p{
        font-size: 120%;
        padding: 0 10vw 0 0;
        width: 50%;
    }
    .contact section{
        width: 35%;
    }
    .resume article{
        width: 70%;
    }
}

@media screen and (max-width: 550px){
    header h1{
        font-size: 150%;
    }
    nav ul li a{
        font-size: 80%;
    }
    .about_me{
        padding: 25vh 0;
        height: 7vh;
    }
    .about_me h2{
        font-size: 150%;
        padding: 0 20vw 0 0;
    }
    .about_me p{
        font-size: 100%;
        padding: 0 5vw 0 0;
        width: 50%;
    }
    .contact section{
        width: 45%;
    }
    .resume article{
        width: 80%;
    }
}