@import 'tailwindcss';

@theme {
  --color-main: rgba(0, 4, 17, 1);
  --color-secondary: rgba(102, 34, 204, 1); /* #6622cc */
  --color-secondary-fade: rgba(102, 34, 204, 0.5); /* #6622cc */
  --color-accent: rgba(83, 152, 190, 1);
  --color-accent-fade: rgba(83, 152, 190, 0.5);
  --color-text: rgba(224, 226, 219, 1); /* #e0e2db */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
